#cricbuzzPlus_container{
   justify-content: space-around;
    width: 80%;
    display: grid;
    padding-left: 35px;   
    margin: auto;
    grid-template-columns: repeat(2, 420px);
    background-color:rgb(75,75,75);
    grid-template-rows: repeat(1,350px);
    /* border: 1px solid red; */
    grid-gap:0px
}
.leftdivtop{
    color: white;
    font-size: x-large; 
}
.leftdivtop > input{
  background-color: rgb(0,146,112);
  color: rgb(255, 255, 255);
  width: 280px;
  height: 30px;
  font-size: large;
  text-align: center;
  border-color: rgb(0,146,112);
  margin-top: -35px;
}
.leftdivtop>h1{
    margin-top:-25px;
}
.rightdivtop{
    margin: auto;
    
 } 
 .rightdivtop>img{
     width: 350px;
 }
 #cricbuzzPlus_container1{
    margin: auto;
    width: 80%; 

}
.bar1{
    display: flex;
    margin-top: -10px;
}
.bar1>div{
    padding-left: 10px;
}
.trending>a{
     padding-left:-10px;
     color: teal;
     text-underline-position: auto;
}
.featured{
    display: flex;
    margin: auto;
    width: 80%; 
    justify-content: space-between; 
}
.featured>div>h1{
    margin-left: 10px;
}
hr{
    color: white;
}

#cricbuzzPlus_container2{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,265px);
    grid-template-rows: repeat(1,235px); 
    margin: auto;
    padding: auto;
    gap: 5px;

}
#cricbuzzPlus_container2>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;
}
#cricbuzzPlus_container2>div>img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#cricbuzzPlus_container2>div>h5{
    margin-top: -2px;
    padding-left: 10px;
}
#cricbuzzPlus_container2>div>p{
    margin-top: -15px;
    color: grey;
    padding-left: 10px;
}
.viewAll{
    color: grey;
    font-weight: lighter;
}
input,h5:hover{
    cursor: pointer;
}
#editorialpage{
    margin: auto;
    display: grid;
    width: 80%;
    height: 240px;
    border: 1px solid grey;
    grid-template-columns:32% 60% 5%;
    grid-template-rows: repeat(1,240px);
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#editorialpage>div{
    margin: 10px;
}
#editorialpage>div>img{
    width: 100%;
    height: 100%;
 
}

#editorialpage>div>p{
    color: grey;
    margin-left: 10px;
}
#editorialpage>div>h2:hover{
    /* margin-left: 10px; */
    text-decoration: underline;
    cursor: pointer;
}
#editorialpage>div>h2{
  
    margin-left: 10px;
}
#crickbuzzPlus_logo{
        margin-top:-32px;
        height:-20px;
}
